@page
@model FragranceStore__L00183767.Pages.Admin.Brands.CreateModel
@{
}
<form method="post">
<div class="border p-3 mt-4">
	<div class="row pb-2">
		<h2 class="text-primary ">Create New Brand</h2>
	</div>
	<div class="mb-3">
		<label asp-for="@Model.Brand.Name"></label>
		<input asp-for="@Model.Brand.Name" class="form-control"/>
		<span asp-validation-for="@Model.Brand.Name" class="text-danger"></span>

	</div>
	<button type="submit" class="btn btn-primary" >Create</button>
</div>
</form>
@section Scripts {

	@{
			<partial name="_validationScriptsPartial"/>
	}

}