@page
@model FragranceStore__L00183767.Pages.Admin.Brands.IndexModel
@{
}
<div class= "container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h3 class="text-primary">Fragrance Brands</h3>
		</div>
		<div class="col-6">
			<a asp-page="Create" class="btn btn-primary">
				Create New Brand
			</a>
		</div>
	</div>
</div>
<br />
<br />
<br />

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Fragrance Brands</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model.Brands)
		{
			
			<tr>
				<td width="50%">@obj.Name</td>
				<td>
                    <a asp-page="Edit" asp-route-id="@obj.BrandId">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@obj.BrandId">Delete</a>
				</td>

			</tr>
		
		
		}
	</tbody>
</table>